extends layout

block content
  script.
    const args1 = !{JSON.stringify(fun.inputs)}

    async function wrappedRun() {
      try {
        if(typeof window.ethereum === "undefined"){
          alert("Please install Metamask");
        }
        window.ethereum.enable();
        await run();
      } catch(e){
        $("#response").val(e.toString());
      }
    }

    async function run() {
      try{
        const args2 = args1.map(a => $("#"+a.name).val());
        if("#{fun.stateMutability}" === "pure" || "#{fun.stateMutability}" === "view" || "#{fun.stateMutability}" !== "payable"){
          $("#response").removeClass('invisible');
          $("#response").html("Transaction Pending...");
          const response = await contract["#{fun.name}"](...args2);
          console.log(response);
          $("#response").html(JSON.stringify(response));
        }
        else {
          //payable
          $("#response").removeClass('invisible');
          $("#response").html("Transaction Pending...");
          const response = await contract["#{fun.name}"](...args2, { value: ethers.utils.parseEther($("#value").val()) });
          const txReceipt = await response.wait();
          console.log(txReceipt);
          $("#response").html("Transaction successful \n\n"+JSON.stringify(txReceipt));
        }
      }
      catch(e){
        console.log(e, e.toString());
        $("#response").removeClass('invisible');
        $("#response").html(e.toString());
      }
    }


  .div
    include ./walletSetup
    .container.relative.flex.flex-col.justify-center.items-center.gap-6.my-4.mx-auto.px-2
      .p
        span.fs-3 Function : 
        span.fs-4= fun.name.replace( /([A-Z])/g, " $1" )
      span.text-gray-400.text-sm.text-center
        | Fill in the parameters (if any) and tap run to execute the transaction.
      div
        each inp in fun.inputs 
          .flex.flex-col.my-6
            label.form-label.fs-5.mb-4= inp.name.replace( /([A-Z])/g, " $1" )
            input.px-2.py-2.rounded-md.text-black(placeholder=inp.name.replace( /([A-Z])/g, " $1" )+": "+inp.type+"" id=inp.name)

        if fun.stateMutability === "payable"
          .flex.flex-col
            label.form-label.fs-5.mb-4 This function expects a payment
            input.px-2.py-2.rounded-md.text-black(placeholder="Amount to send in Ethers" id="value")
      button.inline-block.px-5.py-2.bg-white.rounded-lg.text-black( onclick="wrappedRun()") Run
      div.w-auto.text-blue-500.mt-5
        a.text-right.flex.gap-2(href="/"+address+"?abi="+abiEncoded+"&network="+network) #[i(data="close")]
          i(data-feather="arrow-left")
          | Back to all functions
      .mb-3
        .alert.alert-light.invisible.bg-transparent.text-white.overflow-auto(role='alert' id="response")
