extends layout

block content
  .container
    p Contract Address :
    h2= title
    include ./walletSetup
    br
    p Available Functions : 
    .tileContainer
      each f in functions
        a.tile( href="/#{address}/#{f.name}?abi=#{abiEncoded}&network=#{network}") 
          span= f.name.replace( /([A-Z])/g, " $1" )

