extends layout

block content
  script.
    function pinIt(event, name) {
      const urlParams = new URLSearchParams(window.location.search);

      let pinned = getPinnedFunctions();
      if(pinned && !isPinned(name)) {
        pinned = `${pinned},${name}`;
      } else if(pinned) {
        pinned = pinned.split(',').filter(x=> x !== name).join(',');
      } else {
        pinned = name;
      }
      urlParams.set('pinned', pinned);

      window.location.search = urlParams;
    }

    function isPinned(name) {
      const urlParams = new URLSearchParams(window.location.search);

      let pinned = urlParams.get('pinned');
      return pinned && pinned.split(',').includes(name);

    }

    function getPinnedFunctions() {
      const urlParams = new URLSearchParams(window.location.search);

      return urlParams.get('pinned');

    }

    function setPinnedFunctionOnLoad() {
      let pinned = getPinnedFunctions();
      if(pinned) {
        const funcList = pinned.split(',');
        funcList.forEach(func=>{
          $(`#${func}`).children().addClass('text-red-800');
          //- $(`#${func}`).children().removeClass('bi-pin-angle');
        });
      }
    }

    $(function(){
      setPinnedFunctionOnLoad();

      var confettiSettings = { target: 'my-canvas', rotate: true, max: 300, respawn: false, clock: 21 };
      var confetti = new ConfettiGenerator(confettiSettings);
      confetti.render();

      //- setTimeout(() => $("#my-canvas").addClass("hidden"), 1000)

    });


  include ./wallet

  .div
      .container.text-center.mx-auto
            span.fs-3.font-bold.text-lg Contract Address 
            br
            span(class="sm:hidden")= title.slice(0,6)+"..."+title.slice(-4)
            span(class="hidden sm:inline-block")= title
      h1.text-center.font-bold.mt-2 Functions
      .container.mx-auto.flex.max-w-screen.flex-wrap.justify-center.mt-4.mb-20(class="sm:justify-start")
        each f in functions
          .bg-gray-200.text-black.rounded.p-4.mx-6.my-3.flex.justify-between.min-w-fit.flex-1(class="sm:mx-3")
            button.mx-2.btn.btn-link.btn-lg.pin.position-absolute.top-0.end-0(onclick="pinIt(event,'#{f.name}')" id="#{f.name}") 
              i(data-feather="crosshair")
            a( href="/#{address}/#{f.name}?abi=#{abiEncoded}&network=#{network}") 
              h5.text-black= f.name.replace( /([A-Z]{2, })/g, " $1" )

      canvas#my-canvas.fixed.h-full.w-screen.top-0
    